@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url(‘../assets/fonts/#{$file-path}.ttf’) format(‘truetype’);
    font-weight: $font-weight;
    font-style: $font-style;
  }
}