@import "vendors/reset";
@import "vendors/bootstrap-grid.min";
@import "global/mixins";

@media (min-width:1440px){.container{width:1440px;max-width:100%}}

@include font-face(SourceSansPro, SourceSansPro-Regular, normal, normal);
@include font-face(SourceSansPro, SourceSansPro-Italic, normal, italic);
@include font-face(SourceSansPro, SourceSansPro-Light, 300, normal);
@include font-face(SourceSansPro, SourceSansPro-Semibold, 500, normal);
@include font-face(SourceSansPro, SourceSansPro-Bold, 600, normal);
@include font-face(Somatic, Somatic-Rounded, normal, normal);

$main-color: #4448A4;
$lightblue: #EDEFFD;
$black: #2D272D;
$grey: #9F9F9D;
$lightgrey: #EEEEEE;

body {
    font-family: "SourceSansPro", sans-serif;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-family: Somatic, sans-serif;
    font-size: 1.5em;
    margin-bottom: 50px;

    span {
        font-size: inherit;
        color: $main-color;
    }
}

.hero {
    header {
        margin-top: 50px;

        .logo {
            font-family: Somatic, sans-serif;
            font-size: 1.5em;

            span {
                font-size: inherit;
                color: $main-color;
            }
        }

        .menu {
            position: absolute;
            right: 0;
            top: 0;

            ul li {
                position: relative;
                display: inline-block;
                margin-left: 30px;

                a {
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 1.5px;
                    font-size: .8em;
                }

                @include underline(0,10px);

                &:hover:after {
                    width: 100%;
                }
            }
        }
    }

    h1 {
        margin-top: 250px;
        font-family: Somatic, sans-serif;
        font-size: 3.375em;
        line-height: 1.2;

        span {
            font-size: inherit;
            color: $main-color;
        }
    }

    .subtitle {
        font-weight: 300;
        line-height: 2;
        max-width: 800px;
        margin-top: 30px;

        span {
            position: relative;

            @include underline(100%,20px);
        }
    }
}

.about {
    position: relative;
    margin-top: 300px;

    p {
        font-weight: 300;
        line-height: 1.5;
        max-width: 500px;
        width: 100%;
        margin-top: 30px;

        a {
            display: inline-block;
            font-weight: 500;
            color: $main-color;
            text-decoration: none;
            margin-top: 10px;
            position: relative;

            @include underline(30px,15px);

            &:hover:after {
                width: 100%;
            }
        }
    }

    .bio_pic {
        position: absolute;
        width: 100%;
        max-width: 500px;
        height: 250px;
        right: 10%;
        top: 0;
        background: url('../assets/img/IMG_20170127_165953.png') 30% 40%;
        background-size: 150%;
        border: none;

        @include xlarge {
            max-width: 350px;
            height: 300px;
        }

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            background: $main-color;
            position: absolute;
            left: 0;
            margin-left: 20px;
            margin-top: -20px;
            z-index: -1;
        }
    }
}

.projects {
    margin: 300px auto;

    li {
        position: relative;
        width: 100%;
        margin: 50px auto;

        a {
            text-decoration: none;
        }

        .proj_pic {
            padding: 50px 75px;
            width: 300px;
            height: 150px;
            border: 1px solid $lightgrey;
            margin: 0 auto;

            img {
                display: block;
                margin: 0 auto;
                max-width: 100px;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);

                @include transition5;
            }

            [alt="logo_twitch"] {
                margin-top: 10px;
            }
        }

        .proj_name {
            display: block;
            margin-top: 10px;
            font-weight: 300;
            text-align: center;

            span {
                font-size: inherit;
                font-weight: normal;
                position: relative;

                @include underline(0,10px);
            }
        }

        &:hover {
            .proj_pic {
                img {
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                }
            }

            .proj_name {
                span {
                    color: $main-color;

                    &:after {
                        width: 150%;
                    }
                }
            }
        }
    }
}
