@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url('../assets/fonts/#{$file-path}.ttf');
        font-weight: $font-weight;
        font-style: $font-style;
    }
}

/* ANIMATIONS */

@mixin transition5 {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

@mixin underline($startingWidth, $marginTop, $backColor : $lightblue) {
    position: relative;

    &:after {
        content: "";
        width: $startingWidth;
        height: 10px;
        background-color: $backColor;
        position: absolute;
        margin-top: $marginTop;
        z-index: -1;
        left: 0;

        @include transition5;
    }

    &:hover:after {
        width: 100%;
    }
}

@mixin retina() {

    @media screen and (min-width: 1920px) {
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) {
            @content;
        }
    }
}

@mixin w1200 {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin w600 {
    @media (max-width: 600px) {
        @content;
    }
}
