$blue: #4448A4;
$lightblue: #EDEFFD;
$white: #FFFFFF;
$black: #2D272D;
$grey: #9F9F9D;
$lightgrey: #EEEEEE;

$main-color: $blue;

//$title-font: Somatic, Arial, sans-serif;
$content-font: SourceSansPro, Helvetica, sans-serif;
$title-font: SourceSansPro, Helvetica, sans-serif;