%border-radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

%transition5 {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

%bg-image {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.bold-font {
    font-family: $my-font;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: .8em;
    color: $black;
}

%section-margin {
    margin-top: 15em;
}

%content-text {
    font-weight: 300;
    max-width: 50%;
    width: 100%;
    margin-top: 1em;

    span {
        @include underline(100%,17px);
    }
}