%border-radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

%transition5 {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

%bg-image {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.bold-font {
    font-family: $my-font;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: .8em;
    color: $black;
}

%section-margin {
    margin-top: 15em;

    @include w600 {
        margin-top: 10em;
    }
}

%content-text {
    font-weight: 300;
    max-width: 700px;
    width: auto;
    margin-top: 1em;
    line-height: 1.6;

    span {
        @include underline(100%,13px);

        @media screen and (min-width: 1920px) {
            @include underline(100%,17px);
        }

        @include retina() {
            @include underline(100%,20px);
        }
    }
}


span { font-size: inherit; }
a { font-size: inherit; color: inherit; text-decoration: none;}
.left  { float: left  !important; }
.right { float: right !important; }
.blue { color: $blue !important; }
.lightblue { color: $lightblue !important; }
.white { color: $white !important; }
.black { color: $black !important; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.loud { @extend .blue; font-weight: 600; }
.clearfix { @extend %clearfix; }
.h1, .h2, .h3, .h4, .h5, .h6 { font-family: $my-font; font-weight: 600; }
.h1, .h2 { line-height: 1.1; }
.h3, .h4 { line-height: 1.3; }
.h1 { font-size: 3.998em; letter-spacing: -2px; margin-top: 5em; @include w600 {margin-top:3em;}}
.h2 { font-size: 2.827em; letter-spacing: -1px; }
.h3 { font-size: 1.999em; }
.h4 { font-size: 1.414em; }

.light {font-weight: 100 !important;font-style: italic !important;}
.ultrabold {font-weight: 900 !important; letter-spacing: -5px}
.somatic {font-family: Somatic !important; letter-spacing: 2px;}